openapi: 3.0.0
info:
  title: Sport Booking Backend API
  version: 1.0.0
  description: API документация для Sport Booking Backend

servers:
  - url: https://api.walknplay.ru
    description: Production server
  - url: http://localhost:3001
    description: Development server

tags:
  - name: Authentication
    description: Операции аутентификации
  - name: Profile
    description: Управление профилем пользователя
  - name: Campaign
    description: Управление кампаниями спортивных объектов
  - name: Booking
    description: Бронирование (поля, слоты, брони)
  - name: Database
    description: Работа с базой данных
  - name: Health
    description: Проверка состояния сервера

paths:
  /auth/signin:
    post:
      summary: Вход пользователя по email и паролю
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: password123
      responses:
        '200':
          description: Успешный вход (cookie auth_token устанавливается автоматически)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID пользователя
                    example: 550e8400-e29b-41d4-a716-446655440000
                  email_verified:
                    type: string
                    enum: [VERIFIED, NOT_VERIFIED]
                    description: Статус верификации email
                    example: NOT_VERIFIED
        '400':
          description: Ошибка валидации или неверные данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/signup:
    post:
      summary: Регистрация нового пользователя
      description: |
        Создает нового пользователя и отправляет письмо для подтверждения email.
        После подтверждения email через ссылку в письме пользователь будет автоматически авторизован.
        Если email не требует подтверждения, cookie auth_token устанавливается сразу.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: password123
                role:
                  type: string
                  example: USER
                name:
                  type: string
                  example: Иван Иванов
                phone:
                  type: string
                  example: '+79001234567'
                date_of_birth:
                  type: string
                  format: date
                  example: '1990-01-15'
      responses:
        '200':
          description: Успешная регистрация (письмо подтверждения отправлено на email)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID пользователя
                    example: 550e8400-e29b-41d4-a716-446655440000
                  email_verified:
                    type: string
                    enum: [VERIFIED, NOT_VERIFIED]
                    description: Статус верификации email
                    example: NOT_VERIFIED
        '400':
          description: Ошибка валидации или пользователь уже существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/confirm:
    get:
      summary: Подтверждение email пользователя
      description: |
        Этот эндпоинт вызывается при переходе по ссылке из письма подтверждения.
        После успешного подтверждения устанавливается cookie auth_token и возвращаются данные пользователя.
      tags:
        - Authentication
      parameters:
        - in: query
          name: access_token
          required: true
          schema:
            type: string
          description: Токен доступа из письма подтверждения
      responses:
        '200':
          description: Успешное подтверждение email (cookie auth_token устанавливается автоматически)
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID пользователя
                    example: 550e8400-e29b-41d4-a716-446655440000
                  email_verified:
                    type: string
                    enum: [VERIFIED]
                    description: Статус верификации email (всегда VERIFIED после подтверждения)
                    example: VERIFIED
        '400':
          description: Невалидная ссылка подтверждения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/signout:
    post:
      summary: Выход пользователя
      tags:
        - Authentication
      responses:
        '200':
          description: Успешный выход
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Signed out successfully
        '400':
          description: Ошибка при выходе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/reset-password:
    post:
      summary: Запросить восстановление пароля
      description: |
        Отправляет письмо с ссылкой для восстановления пароля на указанный email.
        Ссылка ведет на страницу /new-password с токеном в параметрах.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
      responses:
        '200':
          description: Письмо с инструкциями отправлено
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password reset requested
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/new-password:
    post:
      summary: Установить новый пароль
      description: |
        Устанавливает новый пароль пользователя после перехода по ссылке восстановления.
        Требуется access_token из ссылки восстановления пароля.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
                - confirmPassword
                - access_token
              properties:
                password:
                  type: string
                  format: password
                  example: newPassword123
                confirmPassword:
                  type: string
                  format: password
                  example: newPassword123
                access_token:
                  type: string
                  description: Токен восстановления пароля (reset token)
                refresh_token:
                  type: string
                  description: Не используется (оставлено для совместимости)
      responses:
        '200':
          description: Пароль успешно обновлен (cookie auth_token устанавливается автоматически)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password updated successfully
                  id:
                    type: string
                    description: ID пользователя
                  email_verified:
                    type: string
                    enum: [VERIFIED, NOT_VERIFIED]
                    description: Статус верификации email
        '400':
          description: Ошибка валидации или недействительный токен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/profile:
    get:
      summary: Получить профиль текущего пользователя (требуется cookie auth_token)
      tags:
        - Profile
      security:
        - CookieAuth: []
      responses:
        '200':
          description: Профиль пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Профиль не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Обновить профиль пользователя (требуется cookie auth_token)
      tags:
        - Profile
      security:
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                name:
                  type: string
                phone:
                  type: string
                date_of_birth:
                  type: string
                  format: date
      responses:
        '200':
          description: Профиль успешно обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /campaign:
    get:
      summary: Получить все кампании (публичный эндпоинт)
      tags:
        - Campaign
      responses:
        '200':
          description: Список всех кампаний
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
        '400':
          description: Ошибка при получении кампаний
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Создать новую кампанию (требуется cookie auth_token и роль CAMPAIGN)
      tags:
        - Campaign
      security:
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
      responses:
        '201':
          description: Кампания успешно создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          description: Ошибка валидации или создания кампании
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен - требуется роль CAMPAIGN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /campaign/{id}:
    get:
      summary: Получить данные кампании по ID (публичный эндпоинт)
      tags:
        - Campaign
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID кампании
      responses:
        '200':
          description: Данные кампании
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          description: Ошибка при получении кампании
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Кампания не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Обновить кампанию (требуется cookie auth_token и роль CAMPAIGN)
      tags:
        - Campaign
      security:
        - CookieAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID кампании
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignRequest'
      responses:
        '200':
          description: Кампания успешно обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          description: Ошибка валидации или обновления кампании
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен - требуется роль CAMPAIGN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Кампания не найдена или не обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Удалить кампанию (требуется cookie auth_token и роль CAMPAIGN)
      tags:
        - Campaign
      security:
        - CookieAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: ID кампании
      responses:
        '204':
          description: Кампания успешно удалена
        '400':
          description: Ошибка при удалении кампании
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен - требуется роль CAMPAIGN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== BOOKING ====================

  /booking/fields:
    get:
      summary: Получить поля площадки (публичный)
      tags:
        - Booking
      parameters:
        - in: query
          name: campaign_id
          required: true
          schema:
            type: string
            format: uuid
          description: ID площадки
      responses:
        '200':
          description: Список полей
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Field'
        '400':
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Создать поле (владелец площадки)
      tags:
        - Booking
      security:
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFieldRequest'
      responses:
        '201':
          description: Поле создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        '401':
          description: Не авторизован
        '403':
          description: Не владелец площадки

  /booking/fields/{id}:
    get:
      summary: Получить поле по ID (публичный)
      tags:
        - Booking
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Данные поля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        '400':
          description: Невалидный ID
        '404':
          description: Поле не найдено

    put:
      summary: Обновить поле (владелец)
      tags:
        - Booking
      security:
        - CookieAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFieldRequest'
      responses:
        '200':
          description: Поле обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        '401':
          description: Не авторизован
        '403':
          description: Не владелец
        '404':
          description: Поле не найдено

    delete:
      summary: Удалить поле (владелец)
      tags:
        - Booking
      security:
        - CookieAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Поле удалено
        '401':
          description: Не авторизован
        '403':
          description: Не владелец

  /booking/slots:
    get:
      summary: Получить слоты поля на дату (публичный)
      tags:
        - Booking
      parameters:
        - in: query
          name: field_id
          required: true
          schema:
            type: string
            format: uuid
          description: ID поля
        - in: query
          name: date
          required: true
          schema:
            type: string
            format: date
          description: Дата (YYYY-MM-DD)
      responses:
        '200':
          description: Список слотов с информацией о бронировании
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SlotWithBooking'
        '400':
          description: Ошибка валидации

    post:
      summary: Создать слот (владелец поля)
      tags:
        - Booking
      security:
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSlotRequest'
      responses:
        '201':
          description: Слот создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingSlot'
        '401':
          description: Не авторизован
        '403':
          description: Не владелец поля
        '409':
          description: Слот пересекается с существующим

  /booking/slots/{id}:
    delete:
      summary: Удалить слот (владелец)
      tags:
        - Booking
      security:
        - CookieAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Слот удалён
        '401':
          description: Не авторизован
        '403':
          description: Не владелец

  /booking/my:
    get:
      summary: Мои бронирования
      tags:
        - Booking
      security:
        - CookieAuth: []
      responses:
        '200':
          description: Список бронирований пользователя
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookingDetails'
        '401':
          description: Не авторизован

  /booking:
    get:
      summary: Бронирования площадки (владелец)
      tags:
        - Booking
      security:
        - CookieAuth: []
      parameters:
        - in: query
          name: campaign_id
          required: true
          schema:
            type: string
            format: uuid
          description: ID площадки
      responses:
        '200':
          description: Список бронирований площадки
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BookingDetails'
        '401':
          description: Не авторизован
        '403':
          description: Не владелец площадки

    post:
      summary: Создать бронирование
      tags:
        - Booking
      security:
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - slot_id
              properties:
                slot_id:
                  type: string
                  format: uuid
                  description: ID слота для бронирования
      responses:
        '201':
          description: Бронирование создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '401':
          description: Не авторизован
        '404':
          description: Слот не найден
        '409':
          description: Слот уже забронирован

  /booking/{id}:
    put:
      summary: Изменить статус бронирования (владелец площадки)
      tags:
        - Booking
      security:
        - CookieAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum: [pending, confirmed, rejected, cancelled, completed]
      responses:
        '200':
          description: Статус обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '401':
          description: Не авторизован
        '403':
          description: Не владелец площадки
        '404':
          description: Бронирование не найдено

    delete:
      summary: Отменить бронирование (владелец брони)
      tags:
        - Booking
      security:
        - CookieAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Бронирование отменено
        '401':
          description: Не авторизован
        '404':
          description: Бронирование не найдено или не может быть отменено

  /health:
    get:
      summary: Проверка состояния сервера
      tags:
        - Health
      responses:
        '200':
          description: Сервер работает нормально
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    example: '2025-12-14T10:30:00.000Z'

  /db/query:
    post:
      summary: Выполнить запрос к базе данных
      tags:
        - Database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - table
              properties:
                table:
                  type: string
                  description: Название таблицы
                  example: users
                select:
                  type: string
                  description: Поля для выборки
                  example: '*'
                filters:
                  type: object
                  description: Фильтры для запроса
                  additionalProperties: true
      responses:
        '200':
          description: Результат запроса
        '400':
          description: Ошибка в запросе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    UserProfile:
      type: object
      properties:
        id:
          type: string
          description: ID пользователя
        email:
          type: string
          description: Email пользователя
        email_verified:
          type: string
          enum: [VERIFIED, NOT_VERIFIED]
          description: Статус верификации email
        role:
          type: string
          description: Роль пользователя
        name:
          type: string
          description: Имя пользователя
        phone:
          type: string
          description: Телефон пользователя
        date_of_birth:
          type: string
          format: date
          description: Дата рождения пользователя
        campaign_id:
          type: string
          description: ID кампании (только для пользователей с ролью CAMPAIGN)
        registration_date:
          type: string
          format: date-time
          description: Дата регистрации
        created_at:
          type: string
          format: date-time
          description: Дата создания
        updated_at:
          type: string
          format: date-time
          description: Дата обновления

    Error:
      type: object
      properties:
        error:
          type: string
          description: Сообщение об ошибке

    # ==================== BOOKING SCHEMAS ====================

    Field:
      type: object
      properties:
        id:
          type: string
          format: uuid
        campaign_id:
          type: string
          format: uuid
        name:
          type: string
          example: Корт 1
        price_per_hour:
          type: number
          nullable: true
          example: 1500
        created_at:
          type: string
          format: date-time

    CreateFieldRequest:
      type: object
      required:
        - campaign_id
        - name
      properties:
        campaign_id:
          type: string
          format: uuid
        name:
          type: string
          example: Корт 1
        price_per_hour:
          type: number
          example: 1500

    UpdateFieldRequest:
      type: object
      properties:
        name:
          type: string
        price_per_hour:
          type: number

    BookingSlot:
      type: object
      properties:
        id:
          type: string
          format: uuid
        field_id:
          type: string
          format: uuid
        date:
          type: string
          format: date
          example: '2026-01-28'
        start_time:
          type: string
          example: '10:00'
        end_time:
          type: string
          example: '11:00'
        created_at:
          type: string
          format: date-time

    CreateSlotRequest:
      type: object
      required:
        - field_id
        - date
        - start_time
        - end_time
      properties:
        field_id:
          type: string
          format: uuid
        date:
          type: string
          format: date
          example: '2026-01-28'
        start_time:
          type: string
          example: '10:00'
        end_time:
          type: string
          example: '11:00'

    SlotWithBooking:
      allOf:
        - $ref: '#/components/schemas/BookingSlot'
        - type: object
          properties:
            booking:
              type: object
              nullable: true
              properties:
                id:
                  type: string
                  format: uuid
                user_id:
                  type: string
                  format: uuid
                status:
                  type: string
                  enum: [pending, confirmed, rejected, cancelled, completed]

    Booking:
      type: object
      properties:
        id:
          type: string
          format: uuid
        slot_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, confirmed, rejected, cancelled, completed]
          example: pending
        created_at:
          type: string
          format: date-time

    BookingDetails:
      allOf:
        - $ref: '#/components/schemas/Booking'
        - type: object
          properties:
            slot:
              $ref: '#/components/schemas/BookingSlot'
            field:
              $ref: '#/components/schemas/Field'

    Campaign:
      type: object
      properties:
        id:
          type: string
          description: ID кампании
        userId:
          type: string
          description: ID владельца кампании
        name:
          type: string
          description: Название кампании
        description:
          type: string
          nullable: true
          description: Описание кампании
        location:
          $ref: '#/components/schemas/Location'
        contacts:
          $ref: '#/components/schemas/Contacts'
        workingTimetable:
          $ref: '#/components/schemas/WorkingTimetable'
        socialsLinks:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/SocialLink'
          description: Ссылки на социальные сети
        paymentMethods:
          type: array
          nullable: true
          items:
            type: string
            enum: [MONEY, CARD, SBP]
          description: Методы оплаты
        facilities:
          type: array
          nullable: true
          items:
            type: string
            enum: [PARKING, SHOWER, LOCKER_ROOM, WIFI, LIGHTING, AIR_CONDITIONING, CAFE, RENTAL, VIDEO_SURVEILLANCE]
          description: Удобства
        sports:
          type: array
          nullable: true
          items:
            type: string
            enum: [FOOTBALL, BASKETBALL, TENNIS, VOLLEYBALL]
          description: Виды спорта
        media:
          $ref: '#/components/schemas/Media'
        createdAt:
          type: string
          format: date-time
          description: Дата создания
        updatedAt:
          type: string
          format: date-time
          description: Дата обновления

    CreateCampaignRequest:
      type: object
      required:
        - name
        - description
        - location
        - contacts
        - workingTimetable
      properties:
        name:
          type: string
          description: Название кампании
          example: Спортивный центр "Олимп"
        description:
          type: string
          description: Описание кампании
          example: Современный спортивный центр с футбольными полями
        location:
          $ref: '#/components/schemas/Location'
        contacts:
          $ref: '#/components/schemas/Contacts'
        workingTimetable:
          $ref: '#/components/schemas/WorkingTimetable'
        socialsLinks:
          type: array
          items:
            $ref: '#/components/schemas/SocialLink'
          description: Ссылки на социальные сети
        paymentMethods:
          type: array
          items:
            type: string
            enum: [MONEY, CARD, SBP]
          description: Методы оплаты
          example: [CARD, SBP]
        facilities:
          type: array
          items:
            type: string
            enum: [PARKING, SHOWER, LOCKER_ROOM, WIFI, LIGHTING, AIR_CONDITIONING, CAFE, RENTAL, VIDEO_SURVEILLANCE]
          description: Удобства
          example: [PARKING, SHOWER, WIFI]
        sports:
          type: array
          items:
            type: string
            enum: [FOOTBALL, BASKETBALL, TENNIS, VOLLEYBALL]
          description: Виды спорта
          example: [FOOTBALL, BASKETBALL]
        media:
          $ref: '#/components/schemas/Media'

    UpdateCampaignRequest:
      type: object
      properties:
        name:
          type: string
          description: Название кампании
        description:
          type: string
          description: Описание кампании
        location:
          $ref: '#/components/schemas/Location'
        contacts:
          $ref: '#/components/schemas/Contacts'
        workingTimetable:
          $ref: '#/components/schemas/WorkingTimetable'
        socialsLinks:
          type: array
          items:
            $ref: '#/components/schemas/SocialLink'
          description: Ссылки на социальные сети
        paymentMethods:
          type: array
          items:
            type: string
            enum: [MONEY, CARD, SBP]
          description: Методы оплаты
        facilities:
          type: array
          items:
            type: string
            enum: [PARKING, SHOWER, LOCKER_ROOM, WIFI, LIGHTING, AIR_CONDITIONING, CAFE, RENTAL, VIDEO_SURVEILLANCE]
          description: Удобства
        sports:
          type: array
          items:
            type: string
            enum: [FOOTBALL, BASKETBALL, TENNIS, VOLLEYBALL]
          description: Виды спорта
        media:
          $ref: '#/components/schemas/Media'

    Location:
      type: object
      nullable: true
      required:
        - city
        - street
        - house
        - coordinates
      properties:
        city:
          type: string
          description: Город
          example: Москва
        street:
          type: string
          description: Улица
          example: Ленина
        house:
          type: string
          description: Дом
          example: 10А
        coordinates:
          type: string
          description: Координаты
          example: '55.751244, 37.618423'

    Contacts:
      type: object
      nullable: true
      required:
        - phone
        - email
        - site
      properties:
        phone:
          type: string
          description: Телефон
          example: '+79001234567'
        email:
          type: string
          format: email
          description: Email
          example: info@sportcenter.ru
        site:
          type: string
          description: Веб-сайт
          example: https://sportcenter.ru

    WorkingTimetable:
      type: object
      nullable: true
      required:
        - monday
        - tuesday
        - wednesday
        - thursday
        - friday
        - saturday
        - sunday
      properties:
        monday:
          $ref: '#/components/schemas/TimeSlot'
        tuesday:
          $ref: '#/components/schemas/TimeSlot'
        wednesday:
          $ref: '#/components/schemas/TimeSlot'
        thursday:
          $ref: '#/components/schemas/TimeSlot'
        friday:
          $ref: '#/components/schemas/TimeSlot'
        saturday:
          $ref: '#/components/schemas/TimeSlot'
        sunday:
          $ref: '#/components/schemas/TimeSlot'

    TimeSlot:
      type: object
      required:
        - from
        - to
      properties:
        from:
          type: string
          description: Время начала работы
          example: '08:00'
        to:
          type: string
          description: Время окончания работы
          example: '22:00'

    SocialLink:
      type: object
      required:
        - link_type
        - link
      properties:
        link_type:
          type: string
          enum: [VK, TELEGRAM, WHATS_APP]
          description: Тип социальной сети
          example: TELEGRAM
        link:
          type: string
          description: Ссылка на социальную сеть
          example: https://t.me/sportcenter

    Media:
      type: object
      nullable: true
      required:
        - main_src
        - description
        - extra_media
      properties:
        main_src:
          type: string
          description: Главное изображение
          example: https://example.com/main-image.jpg
        description:
          type: string
          description: Описание медиа
          example: Главное фото спортивного центра
        extra_media:
          type: array
          items:
            $ref: '#/components/schemas/ExtraMedia'
          description: Дополнительные медиафайлы

    ExtraMedia:
      type: object
      required:
        - src
        - description
      properties:
        src:
          type: string
          description: URL медиафайла
          example: https://example.com/extra-image.jpg
        description:
          type: string
          description: Описание медиафайла
          example: Фотография футбольного поля

  securitySchemes:
    CookieAuth:
      type: apiKey
      in: cookie
      name: auth_token
      description: JWT токен в httpOnly cookie (устанавливается автоматически при логине/регистрации, действителен 7 дней)

